node_modules/
npm-debug.log
.DS_Store
dist/

data
train-data

__pycache__/
*.pyc

temp/

gtfs-database

src/*.js
*.map



# Interface checker
interfaces-ti.ts


mareydb.db

src/marey-db-connector.ts
src/interfaces.ts
